@use 'variaveis';
@use 'mixins';

header{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: variaveis.$fonte-principal;
    color: variaveis.$cor-titulo;
    width: 100%;
    height: auto;
    background-color: variaveis.$cor-principal;
    text-align: center;
    @include mixins.centralizar;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

footer{
    @extend header; 
}