

.sobre{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;
}

.conteudo{
    width: 40%;
    padding-left: 50px;
}

.imagem-sobre img{
    width: 90%;
    height: 90%;
}
