# ==========================
# Dependências
# ==========================
node_modules/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Sass / Build
# ==========================
.sass-cache/
*.css.map
*.map

# ==========================
# Arquivos de ambiente
# ==========================
.env
*.env

# ==========================
# Insomnia / APIs
# ==========================
(Insomnia Import)*
*.insomnia/
*.insomnia.json
